.game-folds,
.game-container,
.game-table {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border-radius: 3px;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    background-color : gray;
    min-height : 240px;
}

.game-table {
    margin-top:1rem;
    background-color: cadetblue;
}

.active{
    background-color : mediumseagreen;
}

.score {
    display: flex;
}