.round-result-container {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 200;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    padding: 1rem;
}

.round-result {
    display: flex;
    width: 800px;
    height: 100%;
    max-height: 800px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border-radius: 5px;
    padding: 0.5rem;
    background-color: #1c2659;
    flex-direction: column;
    overflow: hidden;
}
.round-result header{
    padding-left: 2rem;
}
.result-score{
    display: flex;
    flex-direction: row;
    overflow: auto;
    padding: 0 2rem 2rem 2rem;
}
.result-score h2{
    margin-top: 0;
}
.result-score > div {
    margin-right: 2rem;
}
.result-score .card:hover{
    z-index: 300;
    transform:scale(1.5);
}

.round-result .card {
    zoom: 0.5;
}
.round-result-container button{
    padding: 1rem;
    margin-top: 1rem;
}

.score-detail{
    padding-bottom: 2rem;
}

.result-score {
    scrollbar-color: white rgba(0,0,0,.15);
    scrollbar-width: thin;
}
.result-score::-webkit-scrollbar {
    width: 1rem;
    background-color: transparent;
}
.result-score::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #F90 -webkit-gradient(linear,
    left bottom,
    left top,
    color-stop(0.44, rgb(122, 153, 217)),
    color-stop(0.72, rgb(73, 125, 189)),
    color-stop(0.86, rgb(28, 58, 148)));
}
.result-score::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #1c2659;
    border-radius: 10px;
}
