.quest-selector {
    display: flex;
}

.quest-choice {
    min-width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1rem;
    word-wrap: break-word;
    font-weight: bold;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    background-color: #1c2659;
    padding: 1rem;
    box-sizing: border-box;
}

.quest-selectable {
    cursor: pointer;
}